<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/saveWriter}" method="POST" th:object="${writer}" style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{writerId}" class="form-control" required minlength="5" readonly/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Firstname</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required minlength="5"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Lastname</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required minlength="5"/>
                </div>
            </div>

<!--            <div class="form-group row">-->
<!--                <label class="col-sm-4 col-form-label">Booklist</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input type="number" th:field="*{bookList}" class="form-control"/>-->
<!--                </div>-->
<!--            </div>-->

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
        function cancelForm(){
            window.location = "[[@{/}]]";
        }
    </script>
</body>
</html>